@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Left Logo -->
        <div class="col-md-2 text-center">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg (1).png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
        <!-- Content Column -->
        <div class="col-md-8">
            <p>
                Tipping på kampar må gjerast 2t før kampstart. </br>
                Sidebets (toppscorar, flest kort og vinnarlag) må tippast på før 2t før fyrste kamp i meistarskapet.</br>
                Ein kan endre på tippinga si til ein kvar tid før fristen går ut.</br>
                I sluttspelfasane tippar me på resultat etter 90 min
            </p>
            <ul class="list-unstyled mt-3">
                <li><strong>Poengdeling:</strong></li>
                <li>1 poeng for rett HUB pr kamp</li>
                <li>3 poeng for rett toppscorer</li>
                <li>3 poeng for flest kort (gult=1, raudt =2)</li>
                <li>3 poeng for rett vinnarlag av EM</li>
                <li>Hentar statistikk <a href="https://www.uefa.com/euro2024/statistics/players/">herifrå</a> </li>
                <br />
                <li>Kvar deltakar kan få totalt 9p om ein tippar rett toppscorar, vinnarlag og mest kort. </li>
                <li>Dersom fleire fotballspelarar har like mange scoringar eller kort får kvar deltakar 3p for korrekt tipping.</li>
                <br />
                <li>1000 kr innsats, vinnaren får alt. Ved lik poengsum delast potten.</li>
                <li>Vipps Bjørn Tore Årøy 41108550</li>
            </ul>
        </div>
        <!-- Right Logo -->
        <div class="col-md-2 text-center">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg (1).png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
