@using MatchBetting.ViewModels
@model List<global::MatchBetting.ViewModels.AllSideBettingsViewModel>?

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- Top Logo Column -->
        <div class="col-md-12 text-center mb-3">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg (1).png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
        <!-- Table Column -->
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Deltakar</th>
                        <th>Toppscorar</th>
                        <th>Vinnarlag</th>
                        <th>Mest kort</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.OrderBy(u => u.UserName)) // Sort by UserName here
                    {
                        var sideBet = user.CurrentSideBettings.FirstOrDefault(); // Get the first (and possibly only) SideBettingViewModel
                        if (sideBet != null)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@sideBet.Toppscorer</td> <!-- Capitalize Toppscorer -->
                                <td>@sideBet.WinnerTeam</td> <!-- Capitalize WinnerTeam -->
                                <td>@sideBet.MostCards</td> <!-- Capitalize MostCards -->
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- Bottom Logo Column -->
        <div class="col-md-12 text-center">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg (1).png" alt="UEFA EURO 2024 Logo" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
    </div>
</div>